
#ide-container {
  width:100%;
}

#ide-file-browser {
  width:160px;
  /*min-height:400px;*/
  position:fixed;
  top:52px;
  left:12px;
  bottom:12px;
  -webkit-box-shadow: inset 0 0 6px black;
  -moz-box-shadow: inset 0 0 6px black;
  -o-box-shadow: inset 0 0 6px black;
  box-shadow: inset 0 0 6px black;
  padding:6px;
  overflow:auto;
  border-radius: 5px;
}

#ide-editor {
  width:100%;
  padding-left:180px;
  padding-right:12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding-top:20px;
}
.filename { 
  padding: 6px 3px;
  color:#949393; 
  font-size:12px;
  font-family: Monaco, Menlo,"Andale Mono","lucida console","Courier New",monospace !important;
  background:#3D3D3D;
  background: -moz-linear-gradient(top, #3d3d3d 0%, #303030 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3d3d3d), color-stop(100%,#303030)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #3d3d3d 0%,#303030 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #3d3d3d 0%,#303030 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #3d3d3d 0%,#303030 100%); /* IE10+ */
  background: linear-gradient(to bottom, #3d3d3d 0%,#303030 100%); /* W3C */
}
.CodeMirror {
  border-top: 1px solid black; 
  border-bottom: 1px solid black;
}
   
.CodeMirror-scroll {
  height: auto;
  overflow-y: hidden;
  overflow-x: auto;
}

#logo {
  position: fixed;
  top: -6px;
  left: 11px;
  font-size: 55px;
  margin: 0;
  padding: 0;
  color: #6F798A;
  text-shadow: -1px -1px 1px black;
  letter-spacing: -3px;
  font-weight: bold;
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}


.
.code_module {
  
}
.code_module.contracted {
  border-bottom:solid 1px #000;
}

.code_module .contract {
  cursor:pointer;
}
.code_module .expand {
  cursor:pointer;
}

.code_module.contracted .contract {
  display:none;
}

.code_module.expanded .expand {
  display:none;
}



.cm-s-twilight .CodeMirror-matchingbracket { color: #8F9D6A; }
.cm-s-twilight .CodeMirror-nonmatchingbracket { color: rgb(207, 106, 76); }

.CodeMirror-matchingbracket { color: #8F9D6A !important; }
.CodeMirror-nonmatchingbracket { color: rgb(207, 106, 76) !important; }