<div class="code_module contracted">
  <div class="filename">
    <span class="contract">[-]</span>
    <span class="expand">[+]</span> 
    <span class="file_name">{item.path+item.name}</span> 
    <span class="file_menu">
        <span class="menu_item save" id="save_code{item.id}" path="filename:{item.path+item.name}">Save</span>
        <span class="menu_item saveas" id="saveas_code{item.id}" path="filename:{item.path+item.name}">Save-As</span>
        <span class="menu_item rename" id="rename_code{item.id}" path="filename:{item.path+item.name}">Rename</span>
        <span class="menu_item delete" id="delete_code{item.id}" path="filename:{item.path+item.name}">Delete</span>
        <span class="menu_item close" id="close_code{item.id}" path="filename:{item.path+item.name}">Close</span>
    </span>
  </div>
<textarea id="code{item.id}" name="code{item.id}">{item.contents}</textarea>
</div>