UL.jqueryFileTree {
	font-family: Verdana, sans-serif;
	font-size: 11px;
	line-height: 18px;
	padding: 0px;
	margin: 0px;
}

UL.jqueryFileTree LI {
	list-style: none;
	padding: 0px;
	padding-left: 20px;
	margin: 0px;
	white-space: nowrap;
}

UL.jqueryFileTree A {
  	color: #A19DA2;
	text-decoration: none;
	display: block;
	padding: 0px 2px;
	text-shadow: -1px -1px 0px #000;
}

UL.jqueryFileTree A:hover {
	background: #333;
  -webkit-box-shadow: inset 0 0 6px black;
}

/* Core Styles */
.jqueryFileTree LI.directory { background: url(../../filetree/images/directory.png) left top no-repeat; }
.jqueryFileTree LI.expanded { background: url(../../filetree/images/folder_open.png) left top no-repeat; }
.jqueryFileTree LI.file { background: url(../../filetree/images/file.png) left top no-repeat; }
.jqueryFileTree LI.wait { background: url(../../filetree/images/spinner.gif) left top no-repeat; }
/* File Extensions*/
.jqueryFileTree LI.ext_3gp { background: url(../../filetree/images/film.png) left top no-repeat; }
.jqueryFileTree LI.ext_afp { background: url(../../filetree/images/code.png) left top no-repeat; }
.jqueryFileTree LI.ext_afpa { background: url(../../filetree/images/code.png) left top no-repeat; }
.jqueryFileTree LI.ext_asp { background: url(../../filetree/images/code.png) left top no-repeat; }
.jqueryFileTree LI.ext_aspx { background: url(../../filetree/images/code.png) left top no-repeat; }
.jqueryFileTree LI.ext_avi { background: url(../../filetree/images/film.png) left top no-repeat; }
.jqueryFileTree LI.ext_bat { background: url(../../filetree/images/application.png) left top no-repeat; }
.jqueryFileTree LI.ext_bmp { background: url(../../filetree/images/picture.png) left top no-repeat; }
.jqueryFileTree LI.ext_c { background: url(../../filetree/images/code.png) left top no-repeat; }
.jqueryFileTree LI.ext_cfm { background: url(../../filetree/images/code.png) left top no-repeat; }
.jqueryFileTree LI.ext_cgi { background: url(../../filetree/images/code.png) left top no-repeat; }
.jqueryFileTree LI.ext_com { background: url(../../filetree/images/application.png) left top no-repeat; }
.jqueryFileTree LI.ext_cpp { background: url(../../filetree/images/code.png) left top no-repeat; }
.jqueryFileTree LI.ext_css { background: url(../../filetree/images/css.png) left top no-repeat; }
.jqueryFileTree LI.ext_doc { background: url(../../filetree/images/doc.png) left top no-repeat; }
.jqueryFileTree LI.ext_exe { background: url(../../filetree/images/application.png) left top no-repeat; }
.jqueryFileTree LI.ext_gif { background: url(../../filetree/images/picture.png) left top no-repeat; }
.jqueryFileTree LI.ext_fla { background: url(../../filetree/images/flash.png) left top no-repeat; }
.jqueryFileTree LI.ext_h { background: url(../../filetree/images/code.png) left top no-repeat; }
.jqueryFileTree LI.ext_htm { background: url(../../filetree/images/html.png) left top no-repeat; }
.jqueryFileTree LI.ext_html { background: url(../../filetree/images/html.png) left top no-repeat; }
.jqueryFileTree LI.ext_jar { background: url(../../filetree/images/java.png) left top no-repeat; }
.jqueryFileTree LI.ext_jpg { background: url(../../filetree/images/picture.png) left top no-repeat; }
.jqueryFileTree LI.ext_jpeg { background: url(../../filetree/images/picture.png) left top no-repeat; }
.jqueryFileTree LI.ext_js { background: url(../../filetree/images/script.png) left top no-repeat; }
.jqueryFileTree LI.ext_lasso { background: url(../../filetree/images/code.png) left top no-repeat; }
.jqueryFileTree LI.ext_log { background: url(../../filetree/images/txt.png) left top no-repeat; }
.jqueryFileTree LI.ext_m4p { background: url(../../filetree/images/music.png) left top no-repeat; }
.jqueryFileTree LI.ext_mov { background: url(../../filetree/images/film.png) left top no-repeat; }
.jqueryFileTree LI.ext_mp3 { background: url(../../filetree/images/music.png) left top no-repeat; }
.jqueryFileTree LI.ext_mp4 { background: url(../../filetree/images/film.png) left top no-repeat; }
.jqueryFileTree LI.ext_mpg { background: url(../../filetree/images/film.png) left top no-repeat; }
.jqueryFileTree LI.ext_mpeg { background: url(../../filetree/images/film.png) left top no-repeat; }
.jqueryFileTree LI.ext_ogg { background: url(../../filetree/images/music.png) left top no-repeat; }
.jqueryFileTree LI.ext_pcx { background: url(../../filetree/images/picture.png) left top no-repeat; }
.jqueryFileTree LI.ext_pdf { background: url(../../filetree/images/pdf.png) left top no-repeat; }
.jqueryFileTree LI.ext_php { background: url(../../filetree/images/php.png) left top no-repeat; }
.jqueryFileTree LI.ext_png { background: url(../../filetree/images/picture.png) left top no-repeat; }
.jqueryFileTree LI.ext_ppt { background: url(../../filetree/images/ppt.png) left top no-repeat; }
.jqueryFileTree LI.ext_psd { background: url(../../filetree/images/psd.png) left top no-repeat; }
.jqueryFileTree LI.ext_pl { background: url(../../filetree/images/script.png) left top no-repeat; }
.jqueryFileTree LI.ext_py { background: url(../../filetree/images/script.png) left top no-repeat; }
.jqueryFileTree LI.ext_rb { background: url(../../filetree/images/ruby.png) left top no-repeat; }
.jqueryFileTree LI.ext_rbx { background: url(../../filetree/images/ruby.png) left top no-repeat; }
.jqueryFileTree LI.ext_rhtml { background: url(../../filetree/images/ruby.png) left top no-repeat; }
.jqueryFileTree LI.ext_rpm { background: url(../../filetree/images/linux.png) left top no-repeat; }
.jqueryFileTree LI.ext_ruby { background: url(../../filetree/images/ruby.png) left top no-repeat; }
.jqueryFileTree LI.ext_sql { background: url(../../filetree/images/db.png) left top no-repeat; }
.jqueryFileTree LI.ext_swf { background: url(../../filetree/images/flash.png) left top no-repeat; }
.jqueryFileTree LI.ext_tif { background: url(../../filetree/images/picture.png) left top no-repeat; }
.jqueryFileTree LI.ext_tiff { background: url(../../filetree/images/picture.png) left top no-repeat; }
.jqueryFileTree LI.ext_txt { background: url(../../filetree/images/txt.png) left top no-repeat; }
.jqueryFileTree LI.ext_vb { background: url(../../filetree/images/code.png) left top no-repeat; }
.jqueryFileTree LI.ext_wav { background: url(../../filetree/images/music.png) left top no-repeat; }
.jqueryFileTree LI.ext_wmv { background: url(../../filetree/images/film.png) left top no-repeat; }
.jqueryFileTree LI.ext_xls { background: url(../../filetree/images/xls.png) left top no-repeat; }
.jqueryFileTree LI.ext_xml { background: url(../../filetree/images/code.png) left top no-repeat; }
.jqueryFileTree LI.ext_zip { background: url(../../filetree/images/zip.png) left top no-repeat; }